.contact-me2 {
  color: var(--color-info-light);
  /* max-width: 1400px; */
  padding: 30px 60px 10px 60px;
  margin-top: 50px;
  position: relative;
  background: #240054;
}
.contact-me2-dec {
  content: "";
  height: 300px;
  width: 300px;
  background: url("../../images/decoration/footer-left-dotted-img.png");
  position: absolute;
  background-repeat: no-repeat;
  left: 0;
  z-index: 1 !important;
  top: 0;
}

.contact-me2 .work-togater-text {
  z-index: 200 !important;
  position: relative !important;
}
.contact-title {
  margin-bottom: 30px;
}
.contact-title h2 {
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-title);
}
.contact-title h3 {
  font-size: 2.2rem;
  text-transform: uppercase;
  width: 390px;
  font-family: "Playfair Display", Sans-serif;

  margin-bottom: 40px;
}
.contact-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.contact-info {
  flex-basis: 24%;
  min-width: 260px !important;
  display: flex !important;
  cursor: pointer;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
  border-radius: 10px;
  cursor: pointer;
  padding: 20px 0px 20px 10px;
}

.contact-details {
  margin-right: 30px;
}

.work-togather-form {
  padding-left: 30px;
  display: flex;
  font-size: 15px !important;
  align-items: center;
  justify-content: space-between;
}
.work-togather-text h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.work-togather-text p {
  font-size: 14px;
}
.form-input-one {
  width: 100%;
  height: 60px;
  background: #ffffff;
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  line-height: 24px;
  color: #10161b;
  border: none;
  border-radius: 15px !important;
  outline: none;
  padding: 12px 30px;
  box-shadow: none;
}
.footer-social {
  display: flex;
  align-items: center;
}
.footer-social span {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 15px !important;
}
.footer-social ul {
  text-decoration: none;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.footer-social ul li {
  margin-left: 15px;
  display: flex !important;
}
.footer-social ul li a {
  margin-right: 15px;
}

.sec-btn {
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff !important;
  height: 60px;
  background: rgb(194, 120, 251);
  background: var(--color-button-hover);
  -webkit-box-shadow: 5px 5px 30px 0px rgb(195 120 251 / 35%);
  -moz-box-shadow: 5px 5px 30px 0px rgba(195, 120, 251, 0.35);
  box-shadow: 5px 5px 30px 0px rgb(195 120 251 / 35%);
  display: inline-block;
  overflow: hidden;
  padding: 18px 40px;
  border-radius: 15px;
  position: relative;
  z-index: 1;
  transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
  background-color: rgb(97 73 195) !important;
}
.icon-name {
  color: #ffffff !important;
  font-size: 14px;
}
.d-name {
  color: #cacaca !important;
}
.icon-cont {
  background: rgba(82, 95, 165, 0.1);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;
  font-size: 1.5rem;
}
.contact-info {
  text-align: left !important;
}
.contact-info h4 {
  margin-bottom: 10px;
  font-size: 16px;
}
.contact-info i {
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  background: rgb(97 73 195) !important;
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
#msg {
  color: #cacaca !important;
  font-size: 15px;
}

.contact-details p {
  font-size: 13px;
  font-weight: 500;
  /* color: #fff !important; */
}

/* resposiveness */
@media only screen and (max-width: 768px) {
  .contact-me2 .contact-title {
    text-align: center;
  }
}

@media only screen and (max-width: 425px) {
  .sec-btn {
    margin-top: 10px;
  }
  .contact-info {
    margin-bottom: 0px;
  }
  .contact-me2 {
    padding: 30px 20px;
    background: #0c0122;
  }
}

/*  light theme settings */
.light .contact-me2 {
  background: rgb(255, 255, 255);
}
.light .contact-info {
  color: #10161b !important;
}
.light .sec-btn {
  background: var(--btn-background);
}

.light .contact-details p {
  color: #242424 !important;
}
.light .contact-details h4 {
  color: #000000 !important;
}
.light .footer-social i {
  background: var(--btn-background) !important;
  color: #fff;
}
.light .form-input-one {
  background: #ebebeb;
}

#contact {
  width: 100%;
  height: 100%;
}

.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 40px 0;
  font: 300 60px 'Oswald', sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  max-width: 840px;
}

/* Left contact page */
.form-horizontal {
  /*float: left;*/
  max-width: 400px;
  font-family: 'Lato';
  font-weight: 400;
}

.form-control, 
textarea {
  max-width: 400px;
  background-color: #000;
  color: #fff;
  letter-spacing: 1px;
}

.send-button {
  margin-top: 15px;
  height: 34px;
  width: 400px;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.alt-send-button {
  width: 400px;
  height: 34px;
  transition: all .2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  font: 700 12px 'Lato', sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -29px, 0px);
}

/* Begin Right Contact Page */
.direct-contact-container {
  max-width: 400px;
}

/* Location, Phone, Email Section */
.contact-list {
  list-style-type: none;
  margin-left: -30px;
  padding-right: 20px;
}

.list-item {
  line-height: 4;
  color: #aaa;
}

.contact-text {
  font: 300 18px 'Lato', sans-serif;
  letter-spacing: 1.9px;
  color: #bbb;
}

.place {
  margin-left: 62px;
}

.phone {
  margin-left: 56px;
}

.gmail {
  margin-left: 53px;
}

.contact-text a {
  color: #bbb;
  text-decoration: none;
  transition-duration: 0.2s;
}

.contact-text a:hover {
  color: #fff;
  text-decoration: none;
}


/* Social Media Icons */
.social-media-list {
  position: relative;
  font-size: 22px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.social-media-list li a {
  color: #fff;
}

.social-media-list li {
  position: relative; 
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px 3px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
  background-color: rgb(27,27,27);
  cursor: pointer; 
  transition: all .2s ease-in-out;
}

.social-media-list li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 0 1px #fff;
  transition: all .2s ease-in-out;
}

.social-media-list li:hover {
  background-color: #fff; 
}

.social-media-list li:hover:after {
  opacity: 1;  
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37,0.74,0.15,1.65);
}

.social-media-list li:hover a {
  color: #000;
}

.copyright {
  font: 200 14px 'Oswald', sans-serif;
  color: #555;
  letter-spacing: 1px;
  text-align: center;
}

hr {
  border-color: rgba(255,255,255,.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
  .direct-contact-container, .form-horizontal {
    margin: 0 auto;
  }  
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 300px;
  }    
  .social-media-list li {
    height: 60px;
    width: 60px;
    line-height: 60px;
  }
  .social-media-list li:after {
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media screen and (max-width: 569px) {

  .direct-contact-container, .form-wrapper {
    float: none;
    margin: 0 auto;
  }  
  .form-control, textarea {
    
    margin: 0 auto;
  }
 
  
  .name, .email, textarea {
    width: 280px;
  } 
  
  .direct-contact-container {
    margin-top: 60px;
    max-width: 280px;
  }  
  .social-media-list {
    left: 0;
  }
  .social-media-list li {
    height: 55px;
    width: 55px;
    line-height: 55px;
    font-size: 2rem;
  }
  .social-media-list li:after {
    width: 55px;
    height: 55px;
    line-height: 55px;
  }
  
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}

/* h1, h2, h3, h4, h5, h6{
  color: #000;
font-family: "Montserrat", Arial, sans-serif;
font-weight: 700;
margin: 0 0 30px 0;
} */
#fh5co-main {

-webkit-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}
#fh5co-main .fh5co-narrow-content {
position: relative;
width: 80%;
margin: 0 auto;
padding: 4em 0;
}
.form-control{
   -webkit-appearance: none;
-moz-appearance: none;
appearance: none;
box-shadow: none;
background: transparent;
border: 2px solid rgba(0, 0, 0, 0.1) !important;
height: 54px !important;
font-size: 18px;
font-weight: 300;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
-ms-border-radius: 0px;
border-radius: 0px !important;
background-color: #fff;
}
#message {
height: 130px !important;
border-radius: 15px !important;
}
.btn.btn-md {
padding: 10px 25px !important;
}
.btn-primary {
background: #da1212 !important;
color: #fff !important;
border: 2px solid #da1212 !important;
border-radius: 0px !important;
}


.text-field {
  position: relative;
  margin: 10px 2.5px 20px 2.5px;
}

input {
  display: inline-block;
  border: thin solid #fafafa;
  border-bottom: solid medium #999;
  color: #444;
  background-color: #ccc;
  padding: 10px 10px 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

textarea {
  display: inline-block;
  border: thin solid #fafafa;
  border-bottom: solid medium #999;
  color: #444;
  background-color: #ccc;
  padding: 10px 10px 10px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

input:focus {
  background-color:#ccc;
}

textarea:focus {
  background-color:#ccc;
}

label {
  color: #999;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 20px;
  transition: 0.2s;
  font-size: 15px;
}
input:focus ~ label {
  top: -10px;
  left: 15px;
  font-size: medium;
  color: #fff;
  padding: 0 5px 0 5px;
}

input:focus:valid ~ label,
input:valid:not(:focus) ~ label {
  top: -10px;
  left: 15px;
  font-size: medium;
  color: green;
}
input:invalid:empty ~ label {
  color: red; /* Color when input is empty and invalid */
}
/* input:focus ~ label, input:valid ~ label {
  top: -10px;
  left: 15px;
  font-size: medium;
  color: #fff;
  padding:0 5px 0 5px;
} */

textarea:focus ~ label {
  top: -10px;
  left: 15px;
  font-size: medium;
  color: #fff;
  padding: 0 5px 0 5px;
}

textarea:focus:valid ~ label,
textarea:valid:not(:focus) ~ label {
  top: -10px;
  left: 15px;
  font-size: medium;
}

/* .gradient-text {
  background: linear-gradient(to bottom, white, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */
/* textarea:invalid:empty ~ label {
  color: red;
} */
textarea:invalid:empty ~ label ~ gradient-text {
  background: linear-gradient(to bottom, rgb(16, 252, 134), rgb(255, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* textarea:focus ~ label, input:valid ~ label {
  top: -10px;
  left: 15px;
  font-size: medium;
  color: #fff;
  padding:0 5px 0 5px;
} */